body {
    background-color: #9079fa;
    color: white;
    font-family:"Sevillana", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #4642fa;
    color: white;
    font-family:"Sevillana", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}